.clientsFeedBack .slick-dots li button::before{
    content: "━";
    font-size: 30px;
    font-weight: 900;
}
.clientsFeedBack .slick-dots li button{
    width: 30px;
}
.clientsFeedBack .slick-dots li{
    width: 30px;
}

.clientsFeedBack .slick-prev:before,
.clientsFeedBack .slick-next:before {
  background-color: rgb(153,204,51);
  border-radius: 60%;
}