.hServices .hbtn {
    background-size: 200px 200px;
}

.hServices .hbtn:hover {
    color: white;
    background-image: linear-gradient(to top, #99cc33 51%, transparent 50%);
    background-position: 0 100%;
    -webkit-transition: background-position 700ms, color 300ms ease;
    -moz-transition: background-position 700ms, color 300ms ease;
    -ms-transition: background-position 700ms, color 300ms ease;
    -o-transition: background-position 700ms, color 300ms ease;
    transition: background-position 700ms, color 300ms ease;
}